
@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Nova Postagem", "Create", new { area = "" }, new { @class = "btn btn-success" })
    </p>
}
else
{

}
@Html.Partial("_News")
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
